llama_index-core
llama_index-llms-ollama
llama-index-readers-file
llama-index-embeddings-huggingface
llama_index
llama-index-vector-stores-chroma
llama-index-embeddings-ollama
nbconvert
streamlit
ipython
sqlalchemy
uvicorn
